@font-face {
  font-family: 'LOTR';
  src: url(RINGM___.ttf);
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: silver;
}

.player1,
.player2,
.play {
  font-family: 'LOTR';
  text-align: center;
  margin: 3% 0;
}

#character-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.character {
  width: 18vw;
  background-position-x: 45%; 
  background-position-y: 10%; 
  background-repeat: no-repeat;
  background-size: 82% auto;
  position: relative;
  cursor: pointer;
}

.character-details {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 77% 10% 5% 5%;
  text-align: center;
  align-items: end;
}

.character-description {
  font-size: 12px;
  padding: 0 30px 10px;
}

.character-name {
  text-transform: uppercase;
  padding: 10px 5px;
  font-size: 18px;
  background-image: url('./assets/class-select-nameplate-active.png');
  background-size: 85% auto;
  background-repeat: no-repeat;
  background-position-x: center; 
}

.character-weapon1,
.character-weapon2 {
  text-transform: uppercase;
  font-size: 12px;
}

.adventurer,
.expatriate,
.explorer,
.soldier,
.stowaway {
  opacity: 0.7;
}

.adventurer:hover,
.expatriate:hover,
.explorer:hover,
.soldier:hover,
.stowaway:hover {
  opacity: 1;
}

.soldier {
  background-position-y: 20%; 
}

.frame {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.frame:hover {
  z-index: 0;
}

.active-frame {
  width: 100%;
  position: absolute;
  z-index: 0;
}

.active-frame:hover {
  z-index: 1;
}

.frame-shadow {
  position: absolute;
  width: 105%;
  top: -9px;
  left: -12px;
}

.hide {
  z-index: 0;
}

.show {
  z-index: 1;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.next-button,
.start-button {
  border: 1px solid silver;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 50px;
  cursor: pointer;
  font-family: 'LOTR';
}

.next-button:hover,
.start-button:hover {
  background-color: silver;
  color: #000;
}

.hidden {
  display: none;
}