@font-face {
  font-family: 'LOTR';
  src: url(RINGM___.ttf);
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'LOTR';
  color: silver;
}

h1 {
  text-align: center;
  margin: 4% 0;
}

#character-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.character {
  width: 18vw;
  background-position-x: 45%; 
  background-position-y: 10%; 
  background-repeat: no-repeat;
  background-size: 82% auto;
  position: relative;
}

.adventurer,
.expatriate,
.explorer,
.soldier,
.stowaway {
  opacity: 0.7;
}

.adventurer:hover,
.expatriate:hover,
.explorer:hover,
.soldier:hover,
.stowaway:hover {
  opacity: 1;
}

.soldier {
  background-position-y: 20%; 
}

.frame {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.frame:hover {
  z-index: 0;
}

.active-frame {
  width: 100%;
  position: absolute;
  z-index: 0;
}

.active-frame:hover {
  z-index: 1;
}

.frame-shadow {
  position: absolute;
  width: 106%;
  top: -31px;
  left: -13px;
}

.hide {
  z-index: 0;
}

.show {
  z-index: 1;
}

.next-button {
  
}